extends ../layout/master

block content
  ol.breadcrumb.mb-4.mt-4
    li(class="breadcrumb-item active") Sản phẩm
  .row.mb-4.mt-4
    .col-md-8
      form.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0.w-100(action="/thor/product" method="get")
        .row
          .col-md-4.w-100
            .input-group
              input.form-control(type='text' name="keyword" placeholder='Tên sản phẩm...' value=keyword autocomplete="off")
          .col-md-3
            select.form-control.w-100(name="status")
              option(value='') -- Trạng thái --
              option(value=2 selected=status === 2) Sắp hết
              option(value=1 selected=status === 1) Đã hết
          .my-auto
            button.btn.btn-primary.btn-sm(type='submit') Tìm kiếm
            a.btn.btn-secondary.btn-sm.ml-2(href="/thor/product") Clear
    .col-md-4.text-right 
      a(href="/thor/product/import" class="btn btn-info btn-sm") Nhập hàng
      a(href="/thor/product/create" class="btn btn-primary btn-sm ml-1") Thêm mới
  .row
    .col-md-12
      .table-responsive
        table.table.table-hover
          thead
            tr
              th(scope='col' class="thead-id") #
              th(scope='col' class="thead-image") Hình ảnh
              th(scope='col') Tên
              th(scope='col' class="thead-stock") Số lượng
              th(scope='col' class="thead-stock") Đã bán
              th(scope='col' class="thead-price") Giá bán
              th(scope='col' class="thead-status") Trạng thái
              th(scope='col' class="thead-action") Tác vụ
          tbody
            if products.length
            each product, index in products
                tr
                  td= index + 1
                  td
                    img(class="product-image" src="/images/#{product.image}")
                  td.td-name= product.name
                  td= product.stock
                  td= product.sold
                  td= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                  td
                    span(class="chip #{product.status.class}")= product.status.text
                  td
                    a(href="/thor/product/edit/#{product.id}" class="btn btn-info btn-sm") Sửa
                    //- a(href="/thor/product/delete/#{product.id}" class="btn btn-danger btn-sm ml-1") Xóa
                    button.btn.btn-danger.btn-sm.ml-1(
                      type='button'
                      data-toggle='modal'
                      data-target='#modalConfirmDeleteProduct'
                      onclick="openConfirmDeleteProduct('#{product.id}')"
                    ) Xóa

  // Modal confirm delete
  #modalConfirmDeleteProduct.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title 😭😭 Oh no!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p.text-danger Thao tác này không thể hoàn tác.
          p.text-danger Bạn có chắc chắn muốn xoá sản phẩm này?
          p
            small.font-weight-lighter (Sản phẩm sẽ không được hiển thị trong đơn hàng đã mua)
        .modal-footer
          button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal') Đóng
          button.btn.btn-danger.btn-sm(type='button' onclick="deleteProduct()") Xoá
block script
  script(src="/js/product.js")

block style
  style.
    .thead-id {
      min-width: 50px;
      width: 50px;
    }

    .thead-image {
      min-width: 150px;
      width: 150px;
    }

    .thead-stock, .thead-price, .thead-status, .thead-action {
      min-width: 200px;
    }

    .td-name {
      text-transform: capitalize;
      min-width: 250px;
    }

    .product-image {
      min-width: 85px;
      width: 85px;
      height: 50px;
    }

    .table {
      min-width: 1000px;
    }