extends ../layout/master

block content
  ol.breadcrumb.mb-4.mt-4
    li(class="breadcrumb-item active") Sản phẩm
  .row.mb-4.mt-4
    .col-md-6
    .col-md-6.text-right 
      a(href="/thor/product/create" class="btn btn-primary btn-sm") Thêm mới
      a(href="/thor/product/import" class="btn btn-secondary btn-sm ml-1") Nhập hàng
  .row
    .col-md-12
      .table-responsive
        table.table.table-hover
          thead
            tr
              th(scope='col' class="thead-id") #
              th(scope='col' class="thead-image") Hình ảnh
              th(scope='col') Tên
              th(scope='col' class="thead-stock") Số lượng
              th(scope='col' class="thead-price") Giá bán
              th(scope='col' class="thead-status") Trạng thái
              th(scope='col' class="thead-action") Tác vụ
          tbody
            if products.length
            each product, index in products
                tr
                  td= index + 1
                  td
                    img(class="product-image" src="/images/#{product.image}")
                  td= product.name
                  td= product.stock
                  td= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                  td
                    span(class="chip #{product.status.class}")= product.status.text
                  td
                    a(href="/thor/product/edit/#{product.id}" class="btn btn-info btn-sm") Sửa
                    a(href="/thor/product/delete/#{product.id}" class="btn btn-danger btn-sm ml-1") Xóa


block style
  style.
    .thead-id {
        width: 50px;
    }

    .thead-image {
      width: 150px;
    }

    .thead-stock, .thead-price, .thead-status, .thead-action {
      width: 200px;
    }

    .product-image {
      width: 85px;
      height: 50px;
    }

    .table {
      min-width: 1000px;
    }