extends ../layout

block content

  .row.my-5
    .col-md-3
      each item in productCategories
        .mb-3
          a.text-white.list-group-item.bg-secondary(href='/products/#{item.id}')= item.name
          ul.list-group
            each product in item.products
              li.list-group-item.text-capitalize= product.name
                span.float-right.badge.badge-success= product.stock
            
      // /.div

    // /.col
    .col-md-9
      .row
        nav(aria-label='breadcrumb').col-md-12
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/products') Sản phẩm
            if categoryName
              li.breadcrumb-item.active(aria-current='page')= categoryName

      .row.align-items-center
        .col-md-6
          h4= categoryName || 'Tất cả'
        .col-md-6
          p.text-right
            strong= products.length
            |  sản phẩm
      hr  
      // /.row
      .row
        each product in products
          .col-md-3.mb-3
            .card.h-100
              img.card-img-top.product-image(src='/images/#{product.image}')
              .card-body
                h5.card-title.text-capitalize= product.name
                p.card-text
                  span Giá 
                  span.text-primary= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                p.card-text
                  span Trạng thái:
                  span.text-success đang còn
