extends ../layout

block content

  .row.my-5
    .col-md-3
      each item in productCategories
        .mb-3
          a.list-group-item.active(href='#')= item.name
          ul.list-group
            each product in item.products
              li.list-group-item.text-capitalize= product.name
                span.float-right.badge.badge-success= product.stock
            
      // /.div
      
    // /.col
    .col-md-9
      .row.align-items-center
        .col-md-6
          h3 Tất cả
        .col-md-6
          p.text-right
            strong= products.length
            |  sản phẩm
      hr  
      // /.row
      .row
        each product in products
          .col-md-3.mb-3
            .card.h-100
              img.card-img-top.product-image(src='images/#{product.image}')
              .card-body
                h5.card-title.text-capitalize= product.name
                p.card-text
                  span Giá 
                  span.text-primary= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                p.card-text
                  span Trạng thái:
                  span.text-success đang còn
        
     
      .row
        nav.ml-auto
          ul.pagination
            li.page-item
              a.page-link(href='#' aria-label='Previous')
                span(aria-hidden='true') &laquo;
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#' aria-label='Next')
                span(aria-hidden='true') &raquo;

