extends ../layout/master

block content
  ol.breadcrumb.mb-4.mt-4
    li(class="breadcrumb-item active") Sản phẩm
  form.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0.w-100(action="/thor/sell/sold" method="get")
    input(type="hidden" name="p" value=currentPage)
    .row.mb-4
      .col-md-3.w-100
          .input-group
            input.form-control(type='text' name="keyword" placeholder='Tên người mua...' value=keyword autocomplete="off")
      .col-md-2
        select.form-control.w-100(name="status")
          option(value='') -- Trạng thái --
          option(value=1 selected=status === 1) Đang nợ
          option(value=2 selected=status === 2) Đã thanh toán
      .col-md-2
        input.form-control.w-100(type="date" name="date" value=date)
      .my-auto
        button.btn.btn-primary.btn-sm(type='submit') Tìm kiếm
        a.btn.btn-secondary.btn-sm.ml-2(href="/thor/sell/sold?p=#{currentPage}") Clear

  .row
    .col-md-12
      .table-responsive
        table.table.table-hover
          thead
            tr
              th(scope='col' class="thead-id") #
              th(scope='col' class="thead-user") Người mua
              th(scope='col' class="thead-products") Sản phẩm đã mua
              th(scope='col' class="thead-price") Tổng tiền
              th(scope='col' class="thead-pay") Thanh toán
              th(scope='col' class="thead-status") Trạng thái
              th(scope='col' class="thead-created-at") Ngày mua
              th(scope='col' class="thead-note") Note
              th(scope='col' class="thead-action") Tác vụ
          tbody
            if sold.length
            each item, index in sold
                tr
                  td= index + 1
                  td
                  td
                    each productBought, prodIdx in item.productInfo
                      a.text-capitalize(href="#")= (products.filter(product => product.id === productBought.id)[0].name + `${item.productInfo.length !== prodIdx + 1 ? ', ': ''}`)
                  td= item.totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                  td= item.pay.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})

                  td 
                    span(class="#{item.inDebt ? 'chip chip-warning ' : 'chip chip-success'}")= item.inDebt ? 'nợ: ' + item.inDebt.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) : 'đã thanh toán'

                  td= item.createdAt
                  td= item.note
                  td.td-action
                    a(href="#" class="btn btn-info btn-sm" data-toggle='modal' data-target='#modalConfirm') Sửa
                    button.btn.btn-danger.btn-sm.ml-1(type='button' data-toggle='modal' data-target='#modalConfirm') Xóa
  hr
  .row
    .col-md-6.offset-md-6
      nav.float-right
        if totalPage > 1
          ul.pagination
            li.page-item
              a.page-link(href="?p=#{currentPage > 1 ? currentPage - 1 : currentPage}&keyword=#{keyword}&status=#{status}&date=#{date}" aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
                - for (var page = 1; page <= totalPage; ++page) {
                    li.page-item(class="#{currentPage === page ? 'active' : '' }")
                      a.page-link(href='?p=#{page}&keyword=#{keyword}&status=#{status}&date=#{date}')= page
                - }
              a.page-link(href="?p=#{currentPage < totalPage ? currentPage + 1 : totalPage}&keyword=#{keyword}&status=#{status}&date=#{date}" aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next
  // Modal
  #modalConfirm.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Hmmmmmm!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          //- | Thao tác này không thể hoàn tác.
          //- | Bạn có chắc chắn muốn xoá?
          p Feature is under construction.
          p Please comback later!
        .modal-footer
          button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal') Close
          //- button.btn.btn-danger.btn-sm(type='button') Xoá

block style
  style.
    .thead-id {
      min-width: 50px;
    }

    .thead-action {
      min-width: 115px;
    }

    .thead-status, .thead-price, .thead-pay {
      min-width: 150px;
    }

    .thead-user {
      min-width: 200px;
    }

    .thead-created-at {
      min-width: 200px;
    }

    .thead-products {
      min-width: 300px;
    }

    .table {
      min-width: 1000px;
    }