extends ./layout/master

block content
    ol.breadcrumb.mb-4.mt-4
      li.breadcrumb-item.active Dashboard

    //- .mt-5 &nbsp;
    //- .mt-5 &nbsp;
    //- h1.text-center.text-danger.mt-4 Feature is under construction
    //- h1.text-center.text-danger.mt-4.mb-5 Please come back later!
    //- .mt-5 &nbsp;
    //- .mt-5 &nbsp;
    
    .row
      .col-xl-3.col-md-6
        .card.bg-.bg-info.text-white.mb-4
          .card-body Doanh thu hôm nay
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='#') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalInDebt ? 'bg-secondary': 'bg-light'}")
          .card-body
            span.float-left Số người nợ
            span.float-right #{totalInDebt} người
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='#') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalAlmostOver ? 'bg-warning': 'bg-light'}")
          .card-body
            span.float-left Sản phẩm sắp hết 
            span.float-right #{totalAlmostOver} sản phẩm
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='/thor/product?status=2') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right

      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalProductOOS ? 'bg-danger': 'bg-light'}")
          .card-body
            span.float-left Sản phẩm đã hết
            span.float-right #{totalProductOOS} sản phẩm
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='/thor/product?status=1') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
    .row
      .col-xl-6
        .card.mb-4
          .card-header
            i.fa.fa-chart-area.mr-1
            | Area Chart Example
          .card-body
            canvas#myAreaChart(width='100%', height='40')
      .col-xl-6
        .card.mb-4
          .card-header
            i.fa.fa-chart-bar.mr-1
            | Bar Chart Example
          .card-body
            canvas#myBarChart(width='100%', height='40')
    .card.mb-4
      .card-header
        i.fa.fa-table.mr-1
        | DataTable Example
      .card-body
        .table-responsive
  