extends ./layout/master

block content
    ol.breadcrumb.mb-4.mt-4
      li.breadcrumb-item.active Dashboard
    .row
      .col-xl-3.col-md-6
        .card.bg-.bg-info.text-white.mb-4
          .card-body 
            span.float-left Doanh thu hôm nay
            span.float-right #{totalRevenue.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='#') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalInDebt ? 'bg-secondary': 'bg-light'}")
          .card-body
            span.float-left Số người nợ
            span.float-right #{totalInDebt} đơn hàng
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='/thor/sold?status=1') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalAlmostOver ? 'bg-warning': 'bg-light'}")
          .card-body
            span.float-left Sản phẩm sắp hết 
            span.float-right #{totalAlmostOver} sản phẩm
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='/thor/product?status=2') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right

      .col-xl-3.col-md-6
        .card.text-white.mb-4(class="#{totalProductOOS ? 'bg-danger': 'bg-light'}")
          .card-body
            span.float-left Sản phẩm đã hết
            span.float-right #{totalProductOOS} sản phẩm
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href='/thor/product?status=1') Xem chi tiết
            .small.text-white
              i.fa.fa-angle-right
    .row
      .col-xl-6
        .card.mb-4
          .card-header
            i.fa.fa-bar-chart.mr-1
            | Biểu đồ doanh thu trong tuần
          .card-body
            canvas#myChart(width='100%', height='40')
            //- <canvas id="myChart" width="400" height="400"></canvas>
      .col-xl-6
        .card.mb-4
          .card-header
            i.fa.fa-chart-bar.mr-1
            | Bar Chart Example
          .card-body
            | Feature is under construction!
            canvas#myBarChart(width='100%', height='40')
    .card.mb-4
      .card-header
        i.fa.fa-table.mr-1
        | DataTable Example
      .card-body
        | Feature is under construction!
        .table-responsive

  block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
    script.
      let labels = ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7']
      let revenueData = !{revenueData}
      let maxValue = Math.max(...revenueData)
      let ctx = document.getElementById('myChart').getContext('2d');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Doanh thu theo ngày trong tuần',
            data: revenueData,
            backgroundColor: '#0275d8',
            borderWidth: 1
          }]
        },
        options: {
          hover: {
            animationDuration: 0
          },
          animation: {
            duration: 1,
            onComplete: function() {
              var chartInstance = this.chart,
              ctx = chartInstance.ctx;

              ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
              ctx.textAlign = 'center';
              ctx.textBaseline = 'bottom';

              this.data.datasets.forEach(function(dataset, i) {
                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function(bar, index) {
                  var data = dataset.data[index];
                  data = data.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
                  ctx.fillText(data, bar._model.x, bar._model.y - 5);
                });
              });
            }
          },
          legendCallback: function(chart) {
            // Return the HTML string here.
            console.log(chart)
            return `<p style="padding: 20px;">123</p>`
          },
          legend: {
            padding: 50,
            //- align: 'end'
          },
          tooltips: {
            enabled: false,
            callbacks: {
              label: function(tooltipItem) {
                  return `Doanh thu: ` + Number(tooltipItem.yLabel).toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
              }
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                suggestedMax: maxValue + 10000
              }
            }]
          }
        }
      });